<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d6b9d">  <td>17/02/26 12:41:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;genie.startSession()[pri:0, instance:test.genie@6a400542]">&gt;&gt;startSession</td> 
<td>&nbsp;</td>  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>17/02/26 12:41:49</td>   <td>1945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="genie.traceGenieSearch()[pri:0, instance:test.genie@6a400542]">traceGenieSearch</td> 
  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="9d6b9d">  <td>17/02/26 13:39:39</td>   <td>3472571</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;genie.closeSession()[pri:0, instance:test.genie@6a400542]">&lt;&lt;closeSession</td> 
<td>&nbsp;</td>  <td>main@1841396611</td>   <td></td> </tr>
</table>
